{% extends 'base.html.twig' %}

{% block title %} Panneau amdministrateur {% endblock %}

{% block body %}
<div class="container contain">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('admin') }}"> Accéder au panneau d'administration </a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion au compte administrateur</h1>
        <div class="form-group">
            <label for="inputUsername"> Nom d'utilisateur </label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-success" type="submit">
            Connexion
        </button>
    </form>
</div>
{% endblock %}
