{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="container-sm contain">
    <div class="jumbotron">
      <h1 class="display-4">Connexion</h1>
      <p class="lead">Connexion au compte entreprise.</p>
      <hr class="my-4">
      
    <form method="post">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Bonjour {{ app.user.username }}, <a href="{{ path('companyPage') }}">voir le profile de votre entreprise.</a>
            </div>
        
        {% else %}
            <div class="form-group">
                <label for="inputEmail">Adresse mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-success" type="submit">
                Connexion
            </button> <a href="{{ path('customer_register') }}">Pas de compte ?</a>
        {% endif %}
    

    </form>

    </div>
</div>

{% endblock %}
