{% extends 'base.html.twig' %}

{% block title %} Création compte utilisateur {% endblock %}

{% block body %}

<div class="container" style="margin-top:100px" >
  <div class="col-md-4 offset-md-4">
    <div class="text-center mb-4">
      <div class="">
        <img class="mb-4 rounded" style="background-color:#000" src="{{ asset('img/logoSo.png') }}" alt="" >
      </div>

      <h1 class="display-4 mb-3 font-weight-normal">J'ajoute mon entreprise</h1>
      <div class="">
        <img class="mb-4 rounded" style="background-color:#000" src="{{ asset('img/jatouteSo.png') }}" alt="" >
      </div>
    </div>
    {{ form_start(registrationForm) }}

    {{ form_widget(registrationForm) }}
    <p><a class="mt-5 mb-3 text-center" style="color:#2DB57D;" href="#">Déjà un compte?</a></p>
    {{ form_end(registrationForm) }}




  </div>
<p class="mt-5 mb-3 text-center">1 sur 2</p>
</div>


{% endblock %}
