{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="{{ asset('css/companyPage.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="company row" >
    <div class="side-bar col-md-4 col-lg-4">
        <!--left col-->
        <div class="company-logo">
            {% if company.logo is not null %}
                <div class="image" style="background-image:url({{ asset('uploads/companies/logos/'~ company.logo) }})"></div>
            {% endif %}
        </div>
        <div class="company-name">{{ company.name }}</div>
        <div class="company-branch">{{ company.branch ? company.branch.name : '' }}</div>
    </div>
        <!--/ Main Col-->
    <div class="main col-md-8 col-lg-8">
        <div class="company-element">
            <div class="header">Contribution</div>
            <div class="body">{% if ( company.contribution is not null) and ( (company.contribution) != "" )   %}{{ company.contribution }}{% else %}<span class="empty">Pas d’information à montrer.</span>{% endif %}</div>
        </div>
        <div class="company-element">
            <div class="header">Mot clé contribution</div>
            <div class="body">{% if ( company.keywords is not null) and ( (company.keywords) != "" )   %}{{ company.keywords }}{% else %}<span class="empty">Pas d’information à montrer.</span>{% endif %}</div>
        </div>
        <div class="company-element">
            <div class="header">Coordoonnées</div>
            <div class="body">
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> {{ company.nomDeLaRue }} {{ company.city }} {{ company.postalCode }}, {{ company.country }}</li>
                    <li><i class="fas fa-envelope-open"></i>{% if ( company.email is not null) and ( company.email != "" ) %} <a href="mailto:{{ company.email }}" target="_blank"> {{ company.email }}</a>{% else %}<span class="empty">Pas d’information à montrer.</span>{% endif %}</li>
                    <li><i class="fas fa-globe"></i>{% if ( company.urlWebsite is not null) and ( company.urlWebsite!= "" ) %}<a href="{{ company.urlWebsite }}" target="_blank"> {{ company.urlWebsite }}</a>{% else %}<span class="empty">Pas d’information à montrer.</span>{% endif %}</li>
                </ul>
            </div>
        </div>
        <div class="company-element">
            <div class="header">Informations complémentaires</div>
            <div class="body">{% if ( company.complementaryInformations is not null) and ( company.complementaryInformations!= "" ) %}{{ company.complementaryInformations }}{% else %}<span class="empty">Pas d’information à montrer.</span>{% endif %}</div>
        </div>
    </div>
        
    <div class="floater"><a href="{{path('company_register', {'id': company.id})}}"><i class="fas fa-pencil-alt"></i>Modifier les infos</a></div>
</div>
{% endblock %}
