{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
<div class="wrapper">
  <div class="jumbotron center-text">
    <h1 class="display-4 text-center">Rejoignez la <br>communauté solidaire</h1>
    <p class="lead text-center">
      Entreprises, artisant, commercants, independants, associations, <br>
      territoires, collectivites et benevoles combattent la crise ensemble
    </p>
  </div>
  <div id="tree-cols" class="row after-jumbotron">
    <div class="col">
      <div class="card">
        <img src="{{ asset('img/Placeholder.svg') }}" class="img-responsive" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Les entreprises engagées en France</h5>
          <p class="card-text">
            Donner à avoir l'empleur de l'engagement des entreprises
            et la diversite des secteurs d'activités concernes
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="{{ path('companies') }}"><img src="{{ asset('img/mockpage.svg') }}" class="img-responsive" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">Je recherche un acteur engage</h5>
          <p class="card-text">
            Favoriser l'etablissement d'une chaine de solidarité
            perenne en rendant visible les acteurs engages
            ou souhaitant s'engager
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{{ asset('img/Features Middle.svg') }}" class="img-responsive" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Solution face à la crise</h5>
          <p class="card-text">
            S'inspirer des solutions et preuves de solidaire
            à traver le monde
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <a class="link-dark" href="#milieu">
        QUELQUES EXEMPLES DE SOLIDARITE <br>
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
  </div>
  <div class="mt-50" id="milieu">
    <div class="milieur-wrapper">
      <div class="width-mileu milieu-content">
        <h3>10 exemples de coopérations solidaires, +25 types d'acteurs impliques</h3>
        <div class="filling">
          Chechez un exemple de solidarite par
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Type d'action</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Secteur d'activiter</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="taches-lists">
      <div class="width-mileu tache-list-wrapper">
        <div class="one-tache">
          <h3>#1 Equiper les soignants et les plus exposes</h3>
          <div class="blog">
            <div class="header-blog">
              <h4 class="marrant">fabricants benevoles & <span class="rose">papeteries</span></h4>
              <p><strong>S'unissent pour imprimer gratuitement</strong> des visieres de protection en 3D</p>
            </div>
            <div class="media-blog row">
              <div class="col">
                <img src="{{ asset('img/Ellipse 4.png') }}" class="img-responsive img-rounded" alt="ronded">
              </div>
              <div class="col">
                <img src="{{ asset('img/Ellipse 4.png') }}" class="img-responsive img-rounded" alt="">
              </div>
            </div>
            <div class="last-el-blog">
              Spécialisée dans la papeterie, fourniture de bureau et informatique,l'enseigne
              Bureau Vallée a mis disposition un stock de pochettes plastifiées 200 microns
              auprès des makers benevoles munis d'imprimantes 3D afin qu'ils puissent continuer
              à fabriquer des visieres pour les soignants et les plus exposés.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="before-footer">
    <div class="btn-participer text-center">
      <a class="btn btn-info" href="{{ path('company_register') }}">Je veux participer</a>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Nous soutenons</h3>
      </div>
      <div class="col-sm-6">
        <p>— NOTRE EQUIPE</p>
        <ul class="list-unstyled">
          <li>Alexandre Parizot - Developpeur</li>
          <li>Cyril Delage - Developpeur</li>
          <li>Josh Bradfield</li>
          <li>Sophie Aflalo</li>
          <li>Pascal Tovohery - Developpeur</li>
        </ul>
      </div>
      <div class="col-sm-6 row align-items-center">
        <div class="col">
          <img src="{{ asset('img/Rectangle.png') }}"  alt="logo-covid">
        </div>
        <div class="col text-center">
          <a target="_blank" class="link-dark" href="https://soutenonsnoshopitaux.fr">https://soutenonsnoshopitaux.fr</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
