<!DOCTYPE html>
<html>
    <head>
    <title>SOCIETE AntiCOR - {% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <!-- sylesheets -->
            <link href="{{ asset('css/components/bootstrap.css') }}" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">

            <!-- webfonts and icons -->
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
        {% endblock %}
    </head>

    <body>
        <header>
            {# @odo : render controller make loose the routes attributes in the request...
            {{ render(controller('App\\Controller\\MainController:getNavbar') )}} #}
            {% include '_components/navbar.html.twig' %}
        </header>
        <main role="main" >
            {% block body %}{% endblock %}
            {% include '_components/footer.html.twig' %}
        </main>

        {% block javascripts %}
            <!-- scripts -->
            <script type="text/javascript" src="{{ asset('js/backoffice/jquery.min.js')}}"></script> 
            <script type="text/javascript" src="{{ asset('js/backoffice/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('js/fontAwesomes.js')}}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
        {% endblock %}

    </body>
</html>
